@page
@model Client.Pages.Product.UpdateModel

<div class="container-fluid">
    <div class="row page-titles">
        <ol class="breadcrumb">
            <li class="breadcrumb-item-no-link">Setting/</li>
            <li class="breadcrumb-item-link">
                <a asp-page="./Index">
                    Product/
                </a>
            </li>
            <li class="breadcrumb-item active">Update</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="modal-body">
                    <div class="card-header">
                        <h4 class="card-title">Update Product</h4>
                    </div>
                    <div class="card-body">
                        <form class="comment-form" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="text-black font-w600 form-label">Product Name<span class="required">*</span></label>
                                        <input type="text" class="form-control" asp-for="EditModel.Name">
                                        <span asp-validation-for="EditModel.Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="text-black font-w600 form-label">Unit Price</label>
                                        <input type="number" class="form-control" asp-for="EditModel.UnitPrice">
                                        <span asp-validation-for="EditModel.UnitPrice" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="text-black font-w600 form-label">Quantity Per Unit<span class="required">*</span></label>
                                        <input type="number" class="form-control" asp-for="EditModel.QuantityPerUnit">
                                        <span asp-validation-for="EditModel.QuantityPerUnit" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="text-black font-w600 form-label">Category:<span class="required">*</span></label>
                                        <select asp-for="EditModel.CategoryId" class="default-select  form-control wide">
                                            @foreach (var category in Model.Categories)
                                            {
                                                <option value="@category.Id">@category.Name</option>
                                            }
                                        </select>
                                        <span asp-validation-for="EditModel.CategoryId" class="text-danger"></span>
                                    </div>
                                </div>
                                @if (Model.EditModel.ForSell)
                                {
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="text-black font-w600 form-label">Supplier:<span class="required">*</span></label>
                                            <select asp-for="EditModel.SupplierId" class="default-select  form-control wide">
                                                @foreach (var supplier in Model.Suppliers)
                                                {
                                                    <option value="@supplier.Id">@supplier.SupplierName</option>
                                                }
                                            </select>
                                            <span asp-validation-for="EditModel.SupplierId" class="text-danger"></span>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <input type="hidden" asp-for="EditModel.ForSell" />
                                }
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="text-black font-w600 form-label">Available</label>
                                        <select asp-for="EditModel.IsAvailable" class="default-select  form-control wide">
                                            <option value="true">Yes</option>
                                            <option value="false">No</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="text-black font-w600 form-label">Image<span class="required">*</span></label>
                                        <div class="avatar-upload">
                                            <div class="avatar-edit">
                                                <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" asp-for="UploadImage">
                                                <label for="imageUpload"></label>
                                            </div>
                                            <div class="avatar-preview">
                                                <div id="imagePreview-product">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input asp-for="EditModel.Id" type="hidden" />
                                <input asp-for="EditModel.IsEnable" type="hidden" />
                                <input asp-for="EditModel.ForSell" type="hidden" />
                                <div class="col-lg-12">
                                    <div class="mb-3 mb-0">
                                        <input type="submit" value="Update" class="submit btn btn-primary" name="submit">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        document.querySelector('input[type="file"]').addEventListener('change', function () {
            var preview = document.getElementById('imagePreview-product');
            preview.style.backgroundImage = 'url(' + URL.createObjectURL(this.files[0]) + ')';
        });
    </script>
    @if (Model.EditModel.Id != null && Model.EditModel.Image != null)
    {
        <script>
            var preview1 = document.getElementById('imagePreview-product');
            preview1.style.backgroundImage = "url('@Url.Content("~/images/product/" + Model.EditModel.Image)')";
            console.log(preview1.style.backgroundImage);
            console.log(abc);
        </script>
    }
}