@page
@model Client.Pages.OrderDetail.CreateModel


<h2>Table 3</h2>


<div class="container-fluid">
    <div class="row page-titles">
        <ol class="breadcrumb">
            <li class="breadcrumb-item-no-link">App/</li>
            <li class="breadcrumb-item-no-link">Table/</li>
            <li class="breadcrumb-item active">Index</li>
        </ol>
    </div>
    <!-- row -->
    <div class="modal fade" id="sendMessageModal">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">New Supplier</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        <table class="display table" style="min-width: 850px; min-height:500px">
                            <thead>
                                <tr>
                                    <th>Stt</th>
                                    <th>Image</th>
                                    <th>Name</th>
                                    <th>QuantityPerUnit</th>
                                    <th>UnitPrice</th>
                                    <th>Quantity</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">

                                @foreach (var od in Model.OrderDetailViewDtos)
                                {
                                    <tr>
                                        <td>@od.Stt</td>
                                        <td>
                                            <img class="logo-abbr" src="~/images/product/@od.Image" alt="" />
                                        </td>
                                        <td>@od.Name</td>
                                        <td>@od.QuantityPerUnit</td>
                                        <td>@od.UnitPrice</td>
                                        <td><input type="number" class="form-control solid" asp-for="@od.Quantity" style="width:100px"></td>
                                    </tr>
                                }
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                    <div class="col-lg-9" style="position:relative">
                                        <div class="mb-3 mb-0" style="position:absolute; right:0">
                                            <input type="submit" value="Add" class="submit btn btn-primary" name="submit">
                                        </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>